

<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        @if (galleryPets$ | async; as pets ) {
        @for (pet of pets | nameFilter:searchText; track pet.id){
        <div
          class="gallery-pet fader"
          (click)="selectPet(pet)"
          [class.active]="pet === selectedPet"
        >
          <img
            class="profile-picture"
            [src]="'https://pettinder.herokuapp.com/'+ pet.image"
          >
          <div class="overlay">
            <div class="overlay-text">{{pet.name}}</div>
          </div>
        </div>
        }
        }
      </div>

    </div>

    <div class="col-md-3">
      <div class="gallery-detail">

        <section class="tiny-dialog">
          <h3>Find your pet</h3>
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   name="name"
                   class="form-control"
                   placeholder="Name"
                   [(ngModel)]="searchText">
          </div>
        </section>

        @if (isPetSelected()){
        <app-profile-details [pet]="selectedPet"></app-profile-details>
        }

        <app-pet-profile-form (petsChanged)="refreshPets()" ></app-pet-profile-form>
        <!--   When petsChanged (marked with @Output) in app-pet-profile-form emits an event, pets$ (marked with input)
           listens in parent component. petsCanged in child component is then bound to refreshpets() in parent component
           eacht time an output is emitted, refreshpets() is called (?)
           what about multiple inputs and outputs??-->

      </div>
    </div>
  </div>
</div>




