

<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        @if (pets$ | async; as pets ) {
        @for (pet of pets | nameFilter:searchText; track pet.id){
        <div
          class="gallery-pet fader"
          [class.active]="pet === selectedPet"
          (click)="selectPet(pet)"
        >
          <img
            class="profile-picture"
            [src]="'https://pettinder.herokuapp.com/'+ pet.image"
          >
          <div class="overlay">
            <div class="overlay-text">{{pet.name}}</div>
          </div>
        </div>
        }
        }
      </div>

    </div>


    <div class="col-md-3">
      <div class="gallery-detail">

        <section class="tiny-dialog">
          <h3>Add your pet!</h3>

        <form [formGroup]="petForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="input-id"> Id: </label>
            <input id="input-id" class="form-control" type="number" formControlName="id" />
          </div>

            <div class="form-group">
          <label for="input-name"> Name: </label>
          <input id="input-name" class="form-control" type="text" formControlName="name" />
            </div>

            <div class="form-group">
          <label for="input-kind"> Kind: </label>
          <input id="input-kind" class="form-control" type="text" formControlName="kind" />
            </div>

          <div class="form-group">
            <label for="input-image"> Image url: </label>
            <input id="input-image" class="form-control" type="text" formControlName="image" />
          </div>

            <div class="form-group">
          <label for="input-profileText"> Profile text: </label>
          <input id="input-profileText" class="form-control" type="text" formControlName="profileText" />
            </div>

          <div class="form-group">
            <label for="input-popularity"> Popularity: </label>
            <input id="input-popularity" class="form-control" type="number" formControlName="popularity" />
          </div>

          <p>Complete the form to enable button.</p>
          <button type="submit" [disabled]="!petForm.valid">Submit</button>

        </form>
        </section>

        <section class="tiny-dialog">
          <h3>Find your pet</h3>
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   name="name"
                   class="form-control"
                   placeholder="Name"
                   [(ngModel)]="searchText">
          </div>
        </section>

        @if (isPetSelected()){
        <section id="petProfile" class="tiny-dialog fader">
          <h3>{{ selectedPet.name }}</h3>
          <p>{{selectedPet.profileText}}</p>
        </section>
        }

      </div>
    </div>
  </div>
</div>




