<section class="tiny-dialog">
  <h3>Add your pet!</h3>

  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="input-id"> Id: </label>
      <input id="input-id" class="form-control" type="number" formControlName="id" />
    </div>

    <div class="form-group">
      <label for="input-name"> Name: </label>
      <input id="input-name" class="form-control" type="text" formControlName="name" />
    </div>

    <div class="form-group">
      <label for="input-kind"> Kind: </label>
      <input id="input-kind" class="form-control" type="text" formControlName="kind" />
    </div>

    <div class="form-group">
      <label for="input-image"> Image url: </label>
      <input id="input-image" class="form-control" type="text" formControlName="image" />
    </div>

    <div class="form-group">
      <label for="input-profileText"> Profile text: </label>
      <input id="input-profileText" class="form-control" type="text" formControlName="profileText" />
    </div>

    <div class="form-group">
      <label for="input-popularity"> Popularity: </label>
      <input id="input-popularity" class="form-control" type="number" formControlName="popularity" />
    </div>

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!petForm.valid">Submit</button>

  </form>
</section>
